*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nerko One', cursive;
    text-shadow: 1px 1px grey;
}

body{
    background-color: #add8e6;
}

.container{
    width: 1350px;
    margin: auto;
}

header{
    text-align: center;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    padding: 50px 0;
}

.card{
    width: 300px;
    height: 350px;
    border-radius: 5%;
    display: inline-block;
    margin: 0 30px 50px 0;
    position: relative;
    background-color: white;
}

.card_picture, .card_text{
    display: block;
    width: 100%;
    text-align: center;
}

.card_picture{
    height: 70%;
    object-fit: contain;
    position: absolute;
    top: 20px;
}

.card_text {
    font-size: 50px;
    position: absolute;
    bottom: 20px;
}

.card_back{
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5%;
}

.card:hover .card_back{
    display: none;
}

.baloon{
    color: #e61986;
}

.tractor{
    color: #e67919;
}

.bicycle{
    color: red;
}

.submarine{
    color: blue;
}

.tram{
    color: green;
}

.cruise{
    color: greenyellow;
}